VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_GOOGLE_SHEETS_API_URL=https://script.google.com/macros/s/AKfycbwoNgmg0Ef1lnDU-6DZAc264qRdYt3eksjr_YYv7prjHDrU_1w6hpqLq1xcos_YGrGh/exec
VITE_NAVER_CLIENT_ID=
VITE_GEMINI_API_KEY=
