VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_GOOGLE_SHEETS_API_URL=https://script.google.com/macros/s/AKfycbxOdIi76dXSRExJzRfCxY2xKKTEsGzS4-QYhFw_0xczM4JJAtD_puHu4oveWym9K44h/exec
VITE_NAVER_CLIENT_ID=
VITE_GEMINI_API_KEY=
